#main-doc
  margin-left: 5rem
  padding: 0

.main-section
  padding: 5px 5px

header, .gigantic
  text-transform: capitalize
  color: $super-pink
  font-family: 'Raleway'
  font-weight: 900

h2, .bigger
    color: $rich-black

.sass-paragraph
  margin-top: 5rem
  font-size: 20px
