.grid-wrapper
  height: 100%
  width: 350px
  position: fixed
  z-index: 1
  top: 0
  left: 0
  background: $anti-flash-white
  overflow: hidden
  padding-top: 20px
  -webkit-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75)
  -moz-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75)
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75)

.top-header
  margin: 1.5rem 0
  margin-left: 1rem

.sass-logo
  margin: 0 1.5rem
  margin-left: 3rem

.nav-features
  list-style-type: none
  font-size: 35px
  font-family: 'Raleway'
  font-weight: 700
  text-transform: capitalize
  margin: 1rem auto
  a
    text-decoration: none
    color: $super-pink
    display: block
    &:hover,
    &:focus
      color: $misty-rose
